body {
	margin: 0;
	padding: 0;
	min-width: 992px;
}
/*Blue image overlay*/
.overlay {
	background-color: rgba(30,117,185, 0.77); 
	top: 0;
    left: 0;
   
    

}
/*background image*/
.main-background {
	background: url(http://4.bp.blogspot.com/-a9YE0XwLR7Q/TiPPtXXo6LI/AAAAAAAAAIc/PCa6_2tSFf0/s1600/Surf_great_waves_06.jpg);
	height: 523px;
	
	
}
/*banner content container*/
.main-banner{
	height: 523px;
	width: 992px; 
	display: block;
	position: relative;
	margin: 0 auto;
}

.header-box {
	height: 65px;
	width: 992px;
}


.logo-image {
	position: relative;
	height: 45px;
	width: 45px;
	padding-top: 10px;
	float: left;
}

.logo-text {

	position: relative;
	float: left;
	padding-left: 12px;
	font-family: Asap, Helvetica, sans-serif;
	text-transform: uppercase; 
	color: #083452;
	font-size: 1.05em;
	margin-top: 23px;
}

.header-about {
	font-family: Oswald, Helvetica, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 12px;
	position: relative;
	top:19px;
	font-weight: bold;
	float: right;
	color: #083452;
}

.header-search-text {
	font-family: Oswald, Helvetica, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 3px;
	position: relative;
	top:19px;
	font-weight: bold;
	float: right;
	color: #083452
}

.search-icon {
	position: relative;
	height: 19px;
	width: 19px;
	padding-top: 22px;
	display: inline-block;
	float: right;
}

.headline {
	text-transform: uppercase;
	color: #FFF;
	font-family:'PT Sans Narrow', Helvetica, sans-serif;
	font-size: 106px;
	padding-top: 163px;
	/*149.5px;*/
	/*134px;*/
	padding-left: 55px;
	line-height: 78px;
	
	
} 

.headline p {
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 9.4px;
	text-shadow: 1px 1px 3px #242F48;

}

.headline-subtext {
text-align: center;
}

.headline-subtext p {
	margin: 0;
	padding-top: 11px;
	line-height: 14px;
	font-size: 14.5px;
	font-family: 'Asap';
	color: #083452;
	font-weight: bold;
	letter-spacing: -0.495px;

}
/*Main content*/
.main-text{
	height: 1023px;
	width: 1000px;
	margin: 0 auto;	

}
/*left body*/
.left-body {
	width: 722px;
	height: 1023px;
	float: left;
}

.left-body-header {
	line-height: 70px;
	font-size: 63px;
	margin: 0 auto;
	padding-top: 70px;
	padding-left: 23px;
	font-family: 'Oswald', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #083452;

}

.article-author-image {
	position: relative;
	float: left;
	padding-top: 13px;
	padding-left: 27px;
}

.article-author-image img{
	height: 22px;
	width: 22px;
}

.article-author-name {
	float:left;
	margin-top: 22px;
	margin-left: 7px;
	color: #106db3;
	font-family: 'Asap';
	font-size: 14px;
	line-height: 11px;
}

.gray-text {
	color: #A3B3BF;
}

.underlines {
	text-decoration: underline;
}

.main-body-copy {
	height: 615px;
	width: 616px;
	margin-top: 77px;
	margin-left: 27px;
	font-family: 'Asap';
	color: #A3B3BF;
	font-size: 16px;
	line-height: 1.65;
}

.main-body-copy span {
	text-decoration: underline;
}
.clicky-clicky {
	color: #106db3;

}

blockquote {
	color: #106db3;
	border-left:1px solid #E1E7EA;
	text-transform: uppercase;
	font-size: 34.3px;
}

.main-body-links{
	width: 465px;	
	height: 30px;
	margin-top: 27px;
	margin-left: 27px;
}

.main-body-links ul{
	list-style: none;
	padding: 0;
}

.main-body-links li {
	display: inline;
	color: #ffffff;
	font-family: 'Asap';
	font-size: 13px;
}



.main-body-links img{
	position: relative;
	float:left;
	display: inline-block;
}	

.comment {
	display: inline-block;
	height: 30px;
	width: 130px;
	padding-top: 7px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	text-align: center;
	background-color: #A3B3BF;
	float:left;
}

.cloud {
	display: inline-block;
	height: 30px;
	width: 100px;
	padding-top: 7px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	text-align: center;
	background-color: #A3B3BF;
	float:left;
}

#cloud {
	margin-left: 10px;
}

.share {
	display: inline-block;
	height: 30px;
	width: 98px;
	padding-top: 7px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	text-align: center;
	background-color: #106db3;
	float:left;
}
#share {
	margin-left: 10px;
}

/*right main body/sidebar*/
.right-sidebar {
	width: 278px;
	height: 1023px;
	float:right;
}

.side-bar-logo {
	margin-top: 83px; 
	margin-left: 99px;
}

.side-bar-name {
	margin-top: 16px;
	font-family: Asap, Helvetica, sans-serif;
	margin-left: 90px;
	font-size: 18px;
	line-height: 14px;
	/*letter-spacing: 1.2px;*/
	text-transform: uppercase;
	color: #106db3;
}

.side-bar-contact {
	list-style: none;
	
}

.side-bar-contact ul {
	margin-top: 9px;
	margin-bottom: 0;
	margin-left: 45px;
	padding:0;
}

.side-bar-contact li{
	display: inline;
	font-family: 'Asap';
	color: #A3B3BF;
	font-size: 14px;
	line-height: 11px;
}

.side-bar-advert {
	margin-top: 55px;
}

.side-bar-add-link {
	float:right;
	margin-top: 10px;
	font-family: 'Asap';
	font-size: 14px;
	line-height: 11px;
}

.side-bar-add-link a {
	color: #A3B3BF;
}

.side-bar-section-heading {
	margin-top: 74px;
	padding:0;
	;

}

.side-bar-section-heading h3 {
	font-weight: normal;
	text-transform: uppercase;
	color: #106db3;
	margin:0 0 16px 0;
	font-family: 'Oswald'
}

.side-bar-section-heading p {
	
	margin:0;
	color: #A3B3BF;
	font-family: 'Asap';
	font-size: 14px;
	line-height: 1.75;
	
	
}

.after-main-text {
	display: block;
	height: 147px;
	border-top: 1px solid #E1E7EA;
	text-align: center;
}
.after-main-text p {
	line-height: 57px;
	font-size: 63px;
	margin: 0 auto;
	padding-top: 42px ;
	font-family: 'Oswald', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #083452;


}



/*bottom page pictures*/



.lower-pic-container{
	overflow: hidden;
	width: 100%;


}

.footer-pic-text{
	height: 332px;
	width:25%;
	float: left;
	position: relative;
	background-size: 100% 332;
	color: #083452;
}

.lower-pic-text{
	font-size: 200%;
	font-weight: 400;
	font-family: 'Oswald', Helvetica, sans-serif;
	text-transform: uppercase;
	
	position: absolute;
	bottom:20px;
	left:20px;
	display: block;
	text-align: left;
}

.lower-pic-overlay {
	height: 100%;
	width: 100%;
	background: rgba(30,117,185, 0.77);
	position: absolute;
	
}

.lower-pic-overlay:hover{
	background: transparent;
	color: #fff;
}



/*Footer*/
.footer-container {
	height: 96px;
	clear: both;
	background-color: #083452;

}

.footer {
	height: 96px;
	width: 992px;
	margin: 0 auto;
	
}

.footer-image {
	width: 48px;
	height: 37px;
	padding-top: 26px;
	float:left;
}
.footer-text {
	font-family: 'Asap';
	color: #A3B3BF;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 41px;
	float:left;
}

.footer-nav ul{
	float: right;
	list-style: none;
	margin: 0;
	padding-top:41px;
}


.footer-nav li {

	display: inline;
	font-family: 'Asap';
	color: #A3B3BF;
	font-size: 14px;
}

